body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url("Images/Gorizont1920x1080.jpg");
    background-size: auto;
    color: #9ddbffd4;
    background-attachment: fixed;
}

    /* Set padding to keep content from hitting the edges */
    .body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-right .dropdown-menu {
    right: 0;
    left: 0;
    background-color: #000000;
}

.navbar-nav > li > .dropdown-menu > li > a {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #9d9d9d;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #ffd800;
}

.nav-tabs > li.active {
    background-color: #286090;
}

.nav-tabs > li :hover {
    background-color: #286090;
}

#upload1 {
    position:relative;
    width: 471px;
    height: 542px;
    background-color: #ffabe70f;
    border: 0px solid #fff;
    box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}

#upload2 {
    position: relative;
    width: 471px;
    height: 340px;
    background-color: #ffabe70f;
    border: 0px solid #fff;
    box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}

#logIn {
    position: relative;
    width: 471px;
    height: 350px;
    background-color: #ffabe70f;
    border: 0px solid #fff;
    box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}

#register {
    position: relative;
    width: 570px;
    height: 542px;
    background-color: #ffabe70f;
    border: 0px solid #fff;
    box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: red;
}

.panel {
    background-color: #0e20384d;
    border-color: #6b535300;
}

table-bordered {
    border: 1px solid #0e20384d;
}

td, th {
    border: 1px solid #6b535300; /* задаем сплошную границу размером 1 пиксель цвета #F50 */
    padding: 19px; /* устанавливаем внутренние отступы для всех сторон */
}

table a {
    color: #9ddbffd4;
}

.row {
    margin-right: 0;
}

.col-md-6 {
    padding-right: 0;
}

.col-md-4 {
    padding-right: 0;
}

.col-md-3 {
    padding-right: 0;
}

.col-md-2 {
    padding-right: 0;
}

.col-md-12 {
    padding-right: 0;
}

.form-horizontal .form-group {
    margin-left: 0;
}

.btn-success {
    background-color: #5cb85cbf;
}

.btn-warning {
    background-color: #f0ad4eb0;
}

.btn-info {
    background-color: #5bc0dec4;
}

.btn-danger {
    background-color: #d9534fcf;
}

.text-event-success {
    background-color: #00ff2547;
    color: #c4e9ffd4;
    height: 50px;
    margin: auto;
    line-height: 50px;
    font-size: 16px;
}

#manageAccount {
    position: relative;
    width: 570px;
    height: 350px;
    background-color: #ffabe70f;
    border: 0px solid #fff;
    box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}

#fileManage:hover {
    transform: scale(1.01);
}

#editAccount {
    position: relative;
    width: 570px;
    height: 350px;
    background-color: #ffabe70f;
    border: 0px solid #fff;
    box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}

#headerId {
    color: white;
}

#fileSharingLink:hover {
    text-decoration: none; /* Добавляем подчеркивание при наведении курсора на ссылку */
}

#editPassword {
    position: relative;
    width: 630px;
    height: 330px;
    background-color: #ffabe70f;
    border: 0px solid #fff;
    box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}

#editFile {
    position: relative;
    width: 570px;
    height: 250px;
    background-color: #ffabe70f;
    border: 0px solid #fff;
    box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}

#editUserRole {
    position: relative;
    width: 400px;
    height: 200px;
    background-color: #ffabe70f;
    border: 0px solid #fff;
    box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}

#fileDetails {
    position: relative;
    width: 570px;
    height: 350px;
    background-color: #ffabe70f;
    border: 0px solid #fff;
    box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}

#fileIndex {
    position: relative;
    width: 340px;
    height: 205px;
    background-color: #ffabe70f;
    border: 0px solid #fff;
    box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}

    #fileIndex:hover {
        transform: scale(1.05); /*вот так*/
    }

#fileManage {
    position: relative;
    width: 450px;
    height: 290px;
    background-color: #ffabe70f;
    border: 0px solid #fff;
    box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}

#accountDetailsAdmin {
    position: relative;
    width: 550px;
    height: 300px;
    background-color: #ffabe70f;
    border: 0px solid #fff;
    box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}

#downloadByLink {
    position: relative;
    width: 340px;
    height: 200px;
    background-color: #ffabe70f;
    border: 0px solid #fff;
    box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}

.thumbnail {
    background-color: transparent;
    border: none;
    margin-bottom: 34px;
}

#glyphiconAdd {
}

.file-select {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

    .file-select.file-select-lg + label {
        padding: 10px 10px;
        font-size: 18px;
    }

    .file-select + label {
        font-size: 14px;
        display: inline-block;
        cursor: pointer;
        border: 1px solid #ccc;
        padding: 6px 10px;
        border-radius: 3px;
    }

    .file-select.file-select-sm + label {
        font-size: 12px;
        padding: 5px 10px;
    }

    .file-select:focus + label, .file-select + label:hover {
        background: #0a0eb1;
    }

@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');
.containerTest {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 100px;
}
.search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: #9660ff70;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.search:hover {
    cursor: pointer;
}

    .search::before {
        content: "";
        position: absolute;
        margin: auto;
        top: 22px;
        right: 0;
        bottom: 0;
        left: 22px;
        width: 12px;
        height: 2px;
        background: white;
        transform: rotate(45deg);
        transition: all .5s;
    }

    .search::after {
        content: "";
        position: absolute;
        margin: auto;
        top: -5px;
        right: 0;
        bottom: 0;
        left: -5px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 2px solid white;
        transition: all .5s;
    }


#inputTextSearch {
    font-family: 'Inconsolata', monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 40px;
    outline: none;
    border: none;
    background: #f5f5f5;
    color: #4a4a4a;
    /*text-shadow: 0 0 10px crimson;*/
    padding: 0 80px 0 20px;
    border-radius: 30px;
    /*box-shadow: 0 0 25px 0 crimson, 0 20px 25px 0 rgba(0, 0, 0, 0.2);*/
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
}
    #inputTextSearch:hover {
        cursor: pointer;
    }

    #inputTextSearch:focus {
        width: 300px;
        opacity: 1;
        cursor: text;
    }

        #inputTextSearch:focus ~ .search {
            right: -250px;
            background: #151515;
            z-index: 6;
        }
            #inputTextSearch:focus ~ .search::before {
                top: 0;
                left: 0;
                width: 25px;
            }

    #inputTextSearch::after {
        top: 0;
        left: 0;
        width: 25px;
        height: 2px;
        border: none;
        background: white;
        border-radius: 0%;
        transform: rotate(-45deg);
    }
