body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url("Images/Gorizont1920x1080.jpg");
    background-size: auto;
    color: #9ddbffd4;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-right .dropdown-menu {
    right: 0;
    left: 0;
    background-color: #000000;
}

.navbar-nav > li > .dropdown-menu > li > a {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #9d9d9d;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #4cff00;
    background-color: #ffd800;
}

#upload {
    width: 471px;
    height: 542px;
    background-color: #ffabe70f;
    border-width: 2px;
    border-style: dashed;
    border-color: #2a5a9c;
}

#glyphiconAdd {

}

.file-select {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

    .file-select.file-select-lg + label {
        padding: 10px 10px;
        font-size: 18px;
    }

    .file-select + label {
        font-size: 14px;
        display: inline-block;
        cursor: pointer;
        border: 1px solid #ccc;
        padding: 6px 10px;
        border-radius: 3px;
    }

    .file-select.file-select-sm + label {
        font-size: 12px;
        padding: 5px 10px;
    }

    .file-select:focus + label,
    .file-select + label:hover {
        background: #0a0eb1;
    }