@{
    ViewBag.Title = "About";
}
<div class="container">
    <h2 id="headerId">О нас</h2>
    <br />

    <p>Наше приложение предоставляет возможность обмениваться файлами</p>
    <p>
        На главной странице вы можете загрузить файл и сгенерировать ссылку для скачивания, которую можно распространять как угодно.<br>
        Перейдя по такой ссылке, пользователь может скачать изначальный файл.
    </p>
    <p>Ограничений на размер загружаемых файлов нет, но  имеются ограничения на общий объем загружаемых файлов в день.</p>
    <p>Любой неавторизованный пользователь может загружать до 1Гб файлов ежедневно.</p>
    <p>
        Авторизуйтесь, и сможете загружать до 2,5Гб файлов ежедневно. Также, за каждое ежедневное посещение сайта вы будете увеличивать свой лимит на 50Мб, и так вплоть до 5Гб.<br>
        За каждый пропущенный день лимит будет уменьшаться также на 50Мб, и так вплоть до 2,5Гб
    </p>
</div>