@{
    ViewBag.Title = "Contact";
}
<div class="container">
    <h2 id="headerId">Контакты</h2>
    <br />
    <address>
        ул. Крупской, д.51а<br />
        г. Могилёв, Беларусь<br />
        <abbr title="Phone">P:</abbr>
        +375-29-74-85-205
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">rkurenok99@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">rkurenok99@gmail.com</a>
    </address>
</div>