@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("Index", "File", FormMethod.Post, new { id = "serachFile", @class = "navbar-right" }))
    {
        <li class="containerTest">
            @Html.TextBox("serachFile", null, new { @placeholder = "Найти...", @id = "inputTextSearch" })
            <div class="search"></div>
        </li>
    }
}
